
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-section">
            <!-- Content for the left section goes here -->
            <img src="../assets/Forgot password.png" class="left-image">   
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-section">
            <!-- Content for the right section goes here -->
            <h2>Forgot password</h2>
            <br>
            <form action="#" method="POST">
              <div class="form-group">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="p**********@gmail.com">
              </div>
              <div class="form-group">
                <div class="Back-To-Login">
                  <a href="app-login">Back To Login</a>
                </div>
                <div class="Send-OTP">
                  <a href="app-otp/:RegistrationId" class="btn btn-primary">Send OTP</a>
                </div>
              </div>
              <!-- <div class="Have-an-account">
                <label for="Do you have an account?">Do you have an account?</label>
              </div>
              <div class="Signup">
                <a href="app-registration" class="btn btn-primary">Signup</a>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



























































<!-- <section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
         
            <div class="col-lg-5 col-10">
              
    
                  <form class="boxshadoww bottomborder topborder"  style="     padding: 5%;"> -->
                  
                      <!-- 2 column grid layout with text inputs for the first and last names -->
              
                    
                      <!-- Email input -->
                      <!-- <mdb-form-control class="mb-4">
                        <input mdbInput type="email" id="form3Example3"[(ngModel)]="registration.Email" name="Email" #EmailControl="ngModel" class="form-control" />
                        <label mdbLabel class="form-label" for="form3Example3">Email address</label>
                      </mdb-form-control> -->
                    
                   
                
                    
                      <!-- Submit button -->
                      <!-- <button mdbRipple type="button" (click)="OnSubmit()" class="btn btn-primary btn-block mb-4">Send OTP</button>
                    
                
                    </form>
    
            </div>
        </div>
    </div>
    </section> -->
    
    