<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Project Applicant Form</title>
</head>

<body>

  <div class="container mt-5">
    <h2>Project Applicant Form</h2>
    <form>

      <!-- ProjectApplicantId -->
      <div class="form-group row">
        <label for="ProjectApplicantId" class="col-sm-2 col-form-label">ProjectApplicantId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ProjectApplicantId" [(ngModel)]="projectApplicant.ProjectApplicantId" #projectApplicantId="ngModel" name="ProjectApplicantId"  placeholder="Enter ProjectApplicantId">
        </div>
      </div>
   
      <br>

      <!-- ProjectId -->
      <div class="form-group row">
        <label for="ProjectId" class="col-sm-2 col-form-label">ProjectId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ProjectId" [(ngModel)]="projectApplicant.ProjectId" #projectId="ngModel" name="ProjectId"  placeholder="Enter ProjectId">
        </div>
      </div>

      <br>

      <!-- RegistrationId -->
      <div class="form-group row">
        <label for="RegistrationId" class="col-sm-2 col-form-label">RegistrationId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="RegistrationId" [(ngModel)]="projectApplicant.RegistrationId" #registrationId="ngModel" name="RegistrationId"  placeholder="Enter RegistrationId">
        </div>
      </div>

      <br>

      <!-- Status -->
      <div class="form-group row">
        <label for="Status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Status" [(ngModel)]="projectApplicant.Status" #status="ngModel" name="Status" placeholder="Enter Status">
        </div>
      </div>

      <br>
      
      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" (click)="OnSubmit()" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>

</body>

</html>
