<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Project Form</title>
</head>

<body>

  <div class="container mt-5">
    <h2>Project Form</h2>
    <form>

      <!-- ProjectId -->
      <div class="form-group row">
        <label for="ProjectId" class="col-sm-2 col-form-label">ProjectId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ProjectId" [(ngModel)]="project.ProjectId" #projectId="ngModel" name="ProjectId" placeholder="Enter ProjectId">
        </div>
      </div>

      <br>

      <!-- RegistrationId -->
      <div class="form-group row">
        <label for="RegistrationId" class="col-sm-2 col-form-label">RegistrationId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="RegistrationId" [(ngModel)]="project.RegistrationId" #registrationId="ngModel" name="RegistrationId" placeholder="Enter RegistrationId">
        </div>
      </div>

      <br>

      <!-- Title -->
      <div class="form-group row">
        <label for="Title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Title" [(ngModel)]="project.Title" #title="ngModel" name="Title" placeholder="Enter Title">
        </div>
      </div>

      <br>

      <!-- Description -->
      <div class="form-group row">
        <label for="Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Description" [(ngModel)]="project.Description" #description="ngModel" name="Description" placeholder="Enter Description">
        </div>
      </div>

      <br>

      <!-- Status -->
      <div class="form-group row">
        <label for="Status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Status" [(ngModel)]="project.Status" #status="ngModel" name="Status" placeholder="Enter Status">
        </div>
      </div>

      <br>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" (click)="OnSubmit()" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>

</body>

</html>
