<!-- <section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
         
            <div class="col-lg-5 col-12">
              
    
                  <form class="boxshadoww bottomborder topborder"  style="     padding: 5%;"> -->
                  
                      <!-- 2 column grid layout with text inputs for the first and last names -->
              
                    
                        <!-- Password input -->
                        <!-- <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">password</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" id="newPassword" [(ngModel)]="newPassword"  name="newPassword" pattern="(?=.[a-z])(?=.[A-Z])(?=.[0-9])(?=.[$@$#!%?&])[A-Za-z\d$@$!%?&].{8,}" placeholder="Enter  Password">
                            </div>
                          </div>
                        
                          <br>

                          <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" id="password" [(ngModel)]="confirmPassword"  name="confirmPassword"  placeholder="Enter Confirm Password">
                            </div>
                          </div> -->

                        
                    
                      <!-- Password input -->
                      <!-- <form-control class="mb-4">
                        <input mdbInput type="password" id="form3Example4"[(ngModel)]="confirmPassword"name="confirmPassword"  class="form-control" />
                        <label mdbLabel class="form-label" for="form3Example4">Confirm Password</label>
                    </form-control> -->
                
                    
                      <!-- Submit button -->
                      <!-- <button  type="button" (click)="OnSubmit()" class="btn btn-primary">Submit</button>
                    
                
                    </form>
    
            </div>
        </div>
    </div>
    </section> -->
    
    

























    <div class="container">
      <div class="row"  style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-6">
              <div class="left-section">
                <!-- Content for the left section goes here -->
                <img src="../assets/confirmpassword.png" class="left-image">
    
              </div>
            </div>
            <div class="col-lg-6" style="margin-top: 15px;">
              <div class="right-section">
                <div class="container">
                  <h2 class="head">Confirm Password</h2>
                  <br>
                  <form action="#" method="POST">
                    <div class="Left1">
    
                      <div class="form-group">
                        <!-- <label for="first-name">First Name</label> -->
                        <input type="text" id="first-name" name="first-name" [(ngModel)]="newPassword"  name="newPassword" pattern="(?=.[a-z])(?=.[A-Z])(?=.[0-9])(?=.[$@$#!%?&])[A-Za-z\d$@$!%?&].{8,}" placeholder="Enter  Password" placeholder=" New Password" required>
                      </div>
                      <br>
                      <div class="form-group">
                        <!-- <label for="last-name">Last Name</label> -->
                        <input type="text" id="last-name" name="last-name"  [(ngModel)]="confirmPassword"  name="confirmPassword"  placeholder="Enter Confirm Password" placeholder=" Confirm Password" required>
                      </div>
                      <br>
                      <div class="confirm-password">
                        <p (click)="OnSubmit()"class="btn btn-primary" padding="10px">Confirm Password</p>
                      </div>
                    </div>
                    <br>
                    <div class="right1">
                      <div class="checkbox">
                        <div>
                          <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                          Password
                          Length
                          should be greater then 8.
                        </div>
                        <br>
                        <div>
                          <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                          Minimum 1
                          digit in
                          password.
    
                        </div>
                        <br>
                        <div>
                          <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                          Minimum 1
                          capital
                          latter in password.
    
                        </div>
                        <br>
                        <div>
                          <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                          Minimum 1
                          spacial
                          word in password like @,#,$.
                        </div>
                        <br>
    
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                        Password
                        should be
                        match with confirm password
                      </div>
                    </div>
                  </form>
                </div>
              </div>
    
    
            </div>
          </div>
        </div>
      </div>